@charset 'utf-8';

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Sriracha";
  min-height: 100vh;
  font-size: 20px;
}

header {
  background-color: black;
  color: white;
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 0;
  font-family: "Passion one", cursive;
  font-size: 10vw;
  font-variant: small-caps;
}

header p {
  text-align: center;
  padding-bottom: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 0;
  margin: 0;
  padding-bottom: 50px;
  font-size: 16px;
}

header a,
footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  padding-bottom: 75px;
}

.padrao {
  padding-left: 30px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: 3.5vw;
}

.com-img {
  color: white;
  padding-left: 30px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset  10px 10px 13px 0px rgba(0, 0, 0, 0.411);
  font-size: 3.5vw;
}

#f1 {
  background-image: url("../imagens/background001.jpg");
  background-position: right center;
}

#f2 {
  background-image: url("../imagens/background002.jpg");
}

.com-img p {
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  padding: 5px;
  display: inline-block;
  
}

footer{
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: aliceblue;
  text-align: center;
  padding: 10px;
}